<!DOCTYPE html>
<html ng-app="home">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>3d Models Demo Upload File</title>
</head>
<body>
<div data-ng-controller="HomeCtrl">
  <span><h1>Upload 3d Models</h1></span>
  <h2>File supported: OBJ format & MTL files</h2>
  <mat-form-field>
    <mat-label></mat-label>
      <input type="file" accept=".obj,.mtl" uploader-model="file"/> <br>
      <input type="submit" value="Enviar">
  </mat-form-field>
</div>
</body>
</html>
